# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PIngleTestRunner.iml
# Datasource local storage ignored files
/../../../../../../:\Unity\PIngleTestRunner\.idea\.idea.PIngleTestRunner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
