# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PingleStudioTest.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\PingleStudioTest\.idea\.idea.PingleStudioTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
